name: Build Barcode Tool
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install keyboard pyautogui pyinstaller
         - name: Build EXE
        # 增加 -n 参数，强制生成 barcode_switch.exe
        run: pyinstaller --onefile --windowed --uac-admin -n barcode_switch tab.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BarcodeTool
          # 这里保持不变
          path: dist/barcode_switch.exe
